# Este archivo .gitignore debe ir colocado en el directorio raiz de todo el proyecto
# en el caso del creador del proyecto es ./ChatBotSushi2.0
# Si no se hace de ese modo, puede fallar su configuración
# Logs

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*node_modules
dist
dist-ssr
*.local
*.env
.gitignore

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
